/out/
/JavaRushIdeaPlugin/
/.idea/
/Информация.docx
/JavaRushHomeWork.iml
/src/Test/*
/src/JavaRushPlugin.properties
/src/Testing_package/*
/Blip3.out
/Blips.out
/CADState.out
/file
/Logon.out
/object
/singleton.tmp
/worm.out