<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Название</th>
     <th>Город</th>
     <th>Название компании</th>
     <th>Зарплата</th>
    </tr>                                                                                                                                                       
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16318931?query=java%20Chelyabinsk">Программист Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО РуСофт</td> 
     <td class="salary">от 100&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16797552?query=java%20Chelyabinsk">Ведущий программист java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО РуСофт</td> 
     <td class="salary">от 120&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17461589?query=java%20Chelyabinsk">Java специалист на поддержку</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">МАГНИТ, Розничная сеть</td> 
     <td class="salary">35&nbsp;000-46&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17007472?query=java%20Chelyabinsk">Младший инженер-разработчик Java</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">КРОК инкорпорейтед</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16956588?query=java%20Chelyabinsk">Инженер-разработчик Java</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">КРОК инкорпорейтед</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16956547?query=java%20Chelyabinsk">Ведущий инженер-разработчик Java</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">КРОК инкорпорейтед</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16932880?query=java%20Chelyabinsk">Программист Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/15919967?query=java%20Chelyabinsk">Ведущий программист Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 100&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17137863?query=java%20Chelyabinsk">Программист Java (Junior)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 40&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17713560?query=java%20Chelyabinsk">Java разработчик (Краснодар)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">МАГНИТ, Розничная сеть</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17713986?query=java%20Chelyabinsk">Архитектор (Senior Java Developer)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">МАГНИТ, Розничная сеть</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17899535?query=java%20Chelyabinsk">Java developer</a></td> 
     <td class="city">Тверь</td> 
     <td class="companyName">Ventra</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17004461?query=java%20Chelyabinsk">Технический писатель</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16766549?query=java%20Chelyabinsk">Системный аналитик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16666171?query=java%20Chelyabinsk">Инженер по тестированию</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16666177?query=java%20Chelyabinsk">Ведущий инженер по тестированию</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16666179?query=java%20Chelyabinsk">Специалист по автоматизированному тестированию</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17511702?query=java%20Chelyabinsk">Инженер по сопровождению, база знаний</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16666182?query=java%20Chelyabinsk">Инженер по сопровождению, 2 линия поддержки</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16766553?query=java%20Chelyabinsk">Аналитик-программист/Технолог</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17088688?query=java%20Chelyabinsk">Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ventra</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17646605?query=java%20Chelyabinsk">Системный администратор Linux</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 60&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17587981?query=java%20Chelyabinsk">Программист / разработчик Java (в Москву)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Эксперт, Кадровый Центр</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17007361?query=java%20Chelyabinsk">QA engineer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">КРОК инкорпорейтед</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16655093?query=java%20Chelyabinsk">Программист (Packaging/Scripting) под z/OS (Junior)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 40&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16932859?query=java%20Chelyabinsk">Инженер по тестированию (Junior)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 35&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16932839?query=java%20Chelyabinsk">Программист С/С++ (Junior)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 40&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16932798?query=java%20Chelyabinsk">Инженер по автоматизации тестирования</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 50&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17672420?query=java%20Chelyabinsk">Java-разработчик (Санкт-Петербург)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ProBusiness Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.ru/vacancy/16320028?query=java%20Chelyabinsk">Автор работ по дисциплине "Программирование" (Python, php, java, С# )</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Homework</td> 
     <td class="salary">от 30&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17588760?query=java%20Chelyabinsk">Руководитель группы разработки / Системный архитектор (Java Team Lead / System Architect), в Москву</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Эксперт, Кадровый Центр</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17138016?query=java%20Chelyabinsk">Программист JavaScript</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17985707?query=java%20Chelyabinsk">Инженер-программист</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЗАО Агентство Бизнес и Кадры</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17858850?query=java%20Chelyabinsk">Android Developer (Краснодар)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">МАГНИТ, Розничная сеть</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17858431?query=java%20Chelyabinsk">IOS Developer (Краснодар)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">МАГНИТ, Розничная сеть</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.ru/vacancy/17962242?query=java%20Chelyabinsk">Инженер-программист</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17170181?query=java%20Chelyabinsk">Программист JavaScript</a></td> 
     <td class="city">Екатеринбург, Динамо</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17523385?query=java%20Chelyabinsk">Интеграционный разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ОТР</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/14993243?query=java%20Chelyabinsk">Senior Front-end developer(JavaScript)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">"GS GROUP" Технологии и разработки</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17832054?query=java%20Chelyabinsk">Software engineer ( J2EE )</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Netcracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17748379?query=java%20Chelyabinsk">Senior C++ Developer</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17436913?query=java%20Chelyabinsk">Site Reliability Engineer (Smolensk)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ProBusiness Group</td> 
     <td class="salary">от 120&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17429668?query=java%20Chelyabinsk">Senior Manager (Engineering) Smolensk</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ProBusiness Group</td> 
     <td class="salary">от 230&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/18003155?query=java%20Chelyabinsk">Java-программист</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Компания Рембыттехника</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17945441?query=java%20Chelyabinsk">Java-разработчик</a></td> 
     <td class="city">Магнитогорск</td> 
     <td class="companyName">ООО Квик Ресто</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17136433?query=java%20Chelyabinsk">Java-разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Infinnity Solutions</td> 
     <td class="salary">40&nbsp;000-80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17710784?query=java%20Chelyabinsk">Middle/Senior Java Developer</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЗАО RiskMatch</td> 
     <td class="salary">1&nbsp;500-4&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17930484?query=java%20Chelyabinsk">Web-разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ИП Студия Креограф</td> 
     <td class="salary">30&nbsp;000-75&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17849365?query=java%20Chelyabinsk">Разработчик С++ (международный проект)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">3DiVi</td> 
     <td class="salary">от 45&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17857263?query=java%20Chelyabinsk">Разработчик 1С</a></td> 
     <td class="city">Магнитогорск</td> 
     <td class="companyName">ООО Квик Ресто</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.ru/vacancy/17849374?query=java%20Chelyabinsk">Программист С++</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">3DiVi</td> 
     <td class="salary">от 35&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17787695?query=java%20Chelyabinsk">PHP-программист</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ИП Шаимов Марат Шагишарифович</td> 
     <td class="salary">от 30&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17410168?query=java%20Chelyabinsk">Android-разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ИП Захаров В. А.</td> 
     <td class="salary">50&nbsp;000-80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.ru/vacancy/17769877?query=java%20Chelyabinsk">Тестировщик ПО (начинающий специалист)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">3DiVi</td> 
     <td class="salary">от 30&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17696623?query=java%20Chelyabinsk">Программист современных робото-технологических комплексов</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО УРТЦ Альфа-Интех</td> 
     <td class="salary">40&nbsp;000-70&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027274">Java разработчик</a></td> 
     <td class="city">Ярославль</td> 
     <td class="companyName">Akvelon</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027314">Разработчик JAVA</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027921">Разработчик JAVA</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026111">Java developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Magora Systems</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027931">Java-разработчик</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">RTBID</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027775">Java-разработчик</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Starcode</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026719">Java Tech Lead</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Intermedia.NET</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027414">Java/Scala Developer</a></td> 
     <td class="city">Севастополь</td> 
     <td class="companyName">Naumen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027872">Java-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Inoventica Services</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025297">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SPB-SPLAT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027696">Java EE разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Рециклен"</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027382">Программист Java, Javascript, Oracle</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО "Арго-Технолоджи"</td> 
     <td class="salary">От 80 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027409">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KamaGames Studio</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026002">Java-разработчик web - приложений</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027840">Java Developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">АНКОР Высокие Технологии</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027505">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Альтарикс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026365">Java разработчик (mid-senior level)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BSS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027523">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Murano Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024555">Ведущий Java-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">BrandMaker</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027899">Middle Java Developer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">CodeInside</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027008">Ведущий разработчик JAVA||SCALA</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">InfoWings</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027839">Ведущий программист JAVA</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ГК АЛИДИ</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027411">Junior Back-End developer (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">JungleJobs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027680">Ведущий разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Фактор-ТС</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027709">Разработчик Java / С++</a></td> 
     <td class="city">Курск</td> 
     <td class="companyName">arMax</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026105">Аналитик-математик</a></td> 
     <td class="city"></td> 
     <td class="companyName">BIA-Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027313">Руководитель разработки</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022825">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Loyalty Plant</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027835">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Healbe Corporation</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027848">Щепетильный разработчик сервисов BostonGene Cloud Platform на Spring Cloud+Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BostonGene</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027083">Преподаватель вебинаров по php, html, css, js, java, python, ruby, android/ios</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000014425">Front-end Developer / Java Script</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Akzia Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027393">Android-разработчик</a></td> 
     <td class="city">Волгоград</td> 
     <td class="companyName">UnitBean</td> 
     <td class="salary">От 300 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027406">Разработчик аналитических модулей, аналитик данных</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MiSeC</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026462">Аналитик-статистик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BIA-Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024739">Android Developer</a></td> 
     <td class="city">Лимассол</td> 
     <td class="companyName">Traffic Stars ltd</td> 
     <td class="salary">От 3 000 до 3 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025933">Разработчик мобильных приложений для Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Тинькофф Банк"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027129">Full-Stack разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">физ лицо</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027683">Senior PHP developer на сложный проект</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Mevix</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027941">Разработчик под Android</a></td> 
     <td class="city"></td> 
     <td class="companyName">LAST ID</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027570">Senior Scala Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023120">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Zvooq</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027807">Team-lead отдела разработки</a></td> 
     <td class="city"></td> 
     <td class="companyName">ГК "Курортный Отдых"</td> 
     <td class="salary">От 800 до 1 200 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026371">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">8bit group</td> 
     <td class="salary">До 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027461">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Связной</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027413">Тестировщик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Электронный город</td> 
     <td class="salary">От 40 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026077">Разработчик мобильных приложений</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Orange Rockets</td> 
     <td class="salary">От 35 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027714">QA Automation Engineer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">JarSoft</td> 
     <td class="salary">От 80 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027433">​​​Senior Backend Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027819">QA automation engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022902">Android-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Magtoapp</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027428">Scala developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Exadel</td> 
     <td class="salary">От 150 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027657">Andrоid-разработчик (Яндекс.Толока)</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027374">Менеджер проекта интеграция конверсионных операций</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Банк Санкт-Петербург</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027735">Начинающий Android / iOS разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">NotAnotherOne</td> 
     <td class="salary">От 20 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027850">iOS developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Dialog</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027404">Разработчик веб сервиса</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MiSeC</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025714">Team Lead/ Руководитель разработки</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Cubic Robotics</td> 
     <td class="salary">От 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027876">Senior BackEnd Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">AgoraDoxa</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025916">Web-программист</a></td> 
     <td class="city">Владимир</td> 
     <td class="companyName">"WoodCraft"</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027164">Разработчик мобильных приложений iOS и Android</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Я -ПРОЕКТ мобильные приложения</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027549">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wawe</td> 
     <td class="salary">От 100 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027536">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ответ</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013276">Senior Front-end разработчик (JavaScript)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Тинькофф Банк"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027761">Front-end Programmer, AngularJS</a></td> 
     <td class="city"></td> 
     <td class="companyName">HackPack</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024326">Программист 1С-Битрикс (middle)</a></td> 
     <td class="city">Зеленоград</td> 
     <td class="companyName">Интернет-агентство "Инфоспайс"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026762">Node.js разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ISPACE</td> 
     <td class="salary">От 70 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027640">Senior Ruby Developer</a></td> 
     <td class="city">Франкфурт ам Майн</td> 
     <td class="companyName">Relocateme.eu</td> 
     <td class="salary">От 50 000 до 65 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027096">Программист фотограмметрической системы</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KR</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027502">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">tvzavr</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013542">Senior Android Developer (Maps.Me)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027656">Разработчик мобильных приложений для iOS (Толока)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027922">C++/OpenGL ES разработчик</a></td> 
     <td class="city">Вильнюс</td> 
     <td class="companyName">TeleScope</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027454">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ivi.ru</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027106">Инженер по нагрузочному тестированию</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027363">Системный архитектор/back-end разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">AddReality LLC</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027424">Mobile + Front-end developer (React Native)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Эрливидео</td> 
     <td class="salary">От 80 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027655">Разработчик мобильных приложений для iOS (Толока)</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027394">IOS-разработчик</a></td> 
     <td class="city">Волгоград</td> 
     <td class="companyName">UnitBean</td> 
     <td class="salary">От 300 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027419">Frontend-разработчик / HTML-Верстальщик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Multiline Inteternet LIVE Project</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027488">Разработчик приложений для Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АйТи</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024854">Специалист отдела тестирования</a></td> 
     <td class="city"></td> 
     <td class="companyName">DocDoc</td> 
     <td class="salary">От 30 000 до 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025906">UX/UI дизайнер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Heaven 11</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026461">Аналитик по прогнозированию</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BIA-Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/956266949">Разработчик Ruby</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">UNIQ systems</td> 
     <td class="salary">От 70 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027486">Разработчик приложений для iOS</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АйТи</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027785">QA Engineer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">FunCorp</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027716">Ведущий PHP разработчик в международную компанию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ETHR</td> 
     <td class="salary">От 130 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027833">Tech Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Digital Change</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025522">Python разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">От 90 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027844">Специалист (инженер) по встраиваемым системам (Linux Embedded)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Euromobile</td> 
     <td class="salary">От 55 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025572">PHP-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DocDoc</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027613">Бэк-енд программист в стартап - направление Big Data</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Homeapp</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>