<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                        
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16318931?query=java%20Chelyabinsk">Программист Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО РуСофт</td> 
     <td class="salary">от 100&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16797552?query=java%20Chelyabinsk">Ведущий программист java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО РуСофт</td> 
     <td class="salary">от 120&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17461589?query=java%20Chelyabinsk">Java специалист на поддержку</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">МАГНИТ, Розничная сеть</td> 
     <td class="salary">35&nbsp;000-46&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17007472?query=java%20Chelyabinsk">Младший инженер-разработчик Java</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">КРОК инкорпорейтед</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16956588?query=java%20Chelyabinsk">Инженер-разработчик Java</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">КРОК инкорпорейтед</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16956547?query=java%20Chelyabinsk">Ведущий инженер-разработчик Java</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">КРОК инкорпорейтед</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16932880?query=java%20Chelyabinsk">Программист Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/15919967?query=java%20Chelyabinsk">Ведущий программист Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 100&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17137863?query=java%20Chelyabinsk">Программист Java (Junior)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 40&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17713560?query=java%20Chelyabinsk">Java разработчик (Краснодар)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">МАГНИТ, Розничная сеть</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17713986?query=java%20Chelyabinsk">Архитектор (Senior Java Developer)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">МАГНИТ, Розничная сеть</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17899535?query=java%20Chelyabinsk">Java developer</a></td> 
     <td class="city">Тверь</td> 
     <td class="companyName">Ventra</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17088688?query=java%20Chelyabinsk">Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ventra</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17646605?query=java%20Chelyabinsk">Системный администратор Linux</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 60&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17587981?query=java%20Chelyabinsk">Программист / разработчик Java (в Москву)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Эксперт, Кадровый Центр</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17007361?query=java%20Chelyabinsk">QA engineer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">КРОК инкорпорейтед</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16655093?query=java%20Chelyabinsk">Программист (Packaging/Scripting) под z/OS (Junior)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 40&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16932859?query=java%20Chelyabinsk">Инженер по тестированию (Junior)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 35&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16932839?query=java%20Chelyabinsk">Программист С/С++ (Junior)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 40&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16932798?query=java%20Chelyabinsk">Инженер по автоматизации тестирования</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 50&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17672420?query=java%20Chelyabinsk">Java-разработчик (Санкт-Петербург)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ProBusiness Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.ru/vacancy/16320028?query=java%20Chelyabinsk">Автор работ по дисциплине "Программирование" (Python, php, java, С# )</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Homework</td> 
     <td class="salary">от 30&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17588760?query=java%20Chelyabinsk">Руководитель группы разработки / Системный архитектор (Java Team Lead / System Architect), в Москву</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Эксперт, Кадровый Центр</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17138016?query=java%20Chelyabinsk">Программист JavaScript</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17985707?query=java%20Chelyabinsk">Инженер-программист</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЗАО Агентство Бизнес и Кадры</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17858850?query=java%20Chelyabinsk">Android Developer (Краснодар)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">МАГНИТ, Розничная сеть</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17004461?query=java%20Chelyabinsk">Технический писатель</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16766549?query=java%20Chelyabinsk">Системный аналитик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16666171?query=java%20Chelyabinsk">Инженер по тестированию</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17858431?query=java%20Chelyabinsk">IOS Developer (Краснодар)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">МАГНИТ, Розничная сеть</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16666177?query=java%20Chelyabinsk">Ведущий инженер по тестированию</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16666179?query=java%20Chelyabinsk">Специалист по автоматизированному тестированию</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16666182?query=java%20Chelyabinsk">Инженер по сопровождению, 2 линия поддержки</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/16766553?query=java%20Chelyabinsk">Аналитик-программист/Технолог</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17511702?query=java%20Chelyabinsk">Инженер по сопровождению, база знаний</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.ru/vacancy/17962242?query=java%20Chelyabinsk">Инженер-программист</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17170181?query=java%20Chelyabinsk">Программист JavaScript</a></td> 
     <td class="city">Екатеринбург, Динамо</td> 
     <td class="companyName">ООО Прикладные технологии</td> 
     <td class="salary">от 80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17523385?query=java%20Chelyabinsk">Интеграционный разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ОТР</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/14993243?query=java%20Chelyabinsk">Senior Front-end developer(JavaScript)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">"GS GROUP" Технологии и разработки</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17832054?query=java%20Chelyabinsk">Software engineer ( J2EE )</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Netcracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17748379?query=java%20Chelyabinsk">Senior C++ Developer</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17436913?query=java%20Chelyabinsk">Site Reliability Engineer (Smolensk)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ProBusiness Group</td> 
     <td class="salary">от 120&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17429668?query=java%20Chelyabinsk">Senior Manager (Engineering) Smolensk</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ProBusiness Group</td> 
     <td class="salary">от 230&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/18003155?query=java%20Chelyabinsk">Java-программист</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО Компания Рембыттехника</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17945441?query=java%20Chelyabinsk">Java-разработчик</a></td> 
     <td class="city">Магнитогорск</td> 
     <td class="companyName">ООО Квик Ресто</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17136433?query=java%20Chelyabinsk">Java-разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Infinnity Solutions</td> 
     <td class="salary">40&nbsp;000-80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17710784?query=java%20Chelyabinsk">Middle/Senior Java Developer</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЗАО RiskMatch</td> 
     <td class="salary">1&nbsp;500-4&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17930484?query=java%20Chelyabinsk">Web-разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ИП Студия Креограф</td> 
     <td class="salary">30&nbsp;000-75&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17849365?query=java%20Chelyabinsk">Разработчик С++ (международный проект)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">3DiVi</td> 
     <td class="salary">от 45&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17857263?query=java%20Chelyabinsk">Разработчик 1С</a></td> 
     <td class="city">Магнитогорск</td> 
     <td class="companyName">ООО Квик Ресто</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.ru/vacancy/17849374?query=java%20Chelyabinsk">Программист С++</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">3DiVi</td> 
     <td class="salary">от 35&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17787695?query=java%20Chelyabinsk">PHP-программист</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ИП Шаимов Марат Шагишарифович</td> 
     <td class="salary">от 30&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17410168?query=java%20Chelyabinsk">Android-разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ИП Захаров В. А.</td> 
     <td class="salary">50&nbsp;000-80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.ru/vacancy/17769877?query=java%20Chelyabinsk">Тестировщик ПО (начинающий специалист)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">3DiVi</td> 
     <td class="salary">от 30&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://chelyabinsk.hh.ru/vacancy/17696623?query=java%20Chelyabinsk">Программист современных робото-технологических комплексов</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО УРТЦ Альфа-Интех</td> 
     <td class="salary">40&nbsp;000-70&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027274">Java разработчик</a></td> 
     <td class="city">Ярославль</td> 
     <td class="companyName">Akvelon</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027314">Разработчик JAVA</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026111">Java developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Magora Systems</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027931">Java-разработчик</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">RTBID</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027775">Java-разработчик От 40 000 до 80 000 руб.</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Starcode</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026719">Java Tech Lead</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Intermedia.NET</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027414">Java/Scala Developer</a></td> 
     <td class="city">Севастополь</td> 
     <td class="companyName">Naumen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027872">Java-программист От 100 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Inoventica Services</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025297">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SPB-SPLAT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027696">Java EE разработчик От 100 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Рециклен"</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027382">Программист Java, Javascript, Oracle От 80 000 до 100 000 руб.</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО "Арго-Технолоджи"</td> 
     <td class="salary">От 80 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027409">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KamaGames Studio</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026002">Java-разработчик web - приложений</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027840">Java Developer От 100 000 до 150 000 руб.</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">АНКОР Высокие Технологии</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027505">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Альтарикс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027523">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Murano Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026365">Java разработчик (mid-senior level)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BSS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024555">Ведущий Java-разработчик От 140 000 руб.</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">BrandMaker</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027899">Middle Java Developer От 50 000 руб.</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">CodeInside</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027008">Ведущий разработчик JAVA||SCALA</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">InfoWings</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027839">Ведущий программист JAVA От 90 000 до 120 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ГК АЛИДИ</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer От 70 000 до 150 000 руб.</a></td> 
     <td class="city"></td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027411">Junior Back-End developer (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">JungleJobs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027680">Ведущий разработчик Java От 150 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Фактор-ТС</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>